.experience{
padding:80px 20px;
}


.experience-container{
max-width:1000px;
margin:auto;
}


.experience-card{

background:#ffffff;
padding:30px;
border-radius:15px;
box-shadow:0 10px 30px rgba(0,0,0,0.1);

}


.experience-card h3{

font-size:26px;
margin-bottom:10px;

}


.experience-card h4{

color:#555;
margin-bottom:10px;

}


.experience-duration{

font-weight:600;
margin-bottom:20px;

}


.experience-card ul{

padding-left:20px;

}


.experience-card li{

margin-bottom:12px;
line-height:1.6;

}
