.footer{
    background:#020617;
    color:white;
    text-align:center;
    padding:40px 20px;
}

.footer h2{
    color:#38bdf8;
    margin-bottom:10px;
}

.footer p{
    color:#cbd5e1;
    margin:10px 0;
}

.footer-links{
    display:flex;
    justify-content:center;
    gap:30px;
    margin:25px 0;
    flex-wrap:wrap;
}

.footer-links a{
    color:white;
    text-decoration:none;
    transition:.3s;
}

.footer-links a:hover{
    color:#38bdf8;
}

.copyright{
    margin-top:25px;
    font-size:14px;
    color:#94a3b8;
}
