/* Navbar */

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background: #0f172a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 8%;
  z-index: 1000;
  box-shadow: 0 4px 12px rgba(0,0,0,0.4);
}

.logo h2 {
  color: #38bdf8;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.nav-links {
  display: flex;
  gap: 28px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 17px;
  font-weight: 500;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #38bdf8;
}

.menu-toggle {
  display: none;
  color: white;
  font-size: 30px;
  cursor: pointer;
}

/* Mobile */

@media (max-width:768px) {

  .navbar{
    padding:18px 6%;
  }

  .menu-toggle{
    display:block;
  }

  .nav-links{
    position:absolute;
    top:75px;
    left:0;
    width:100%;
    background:#0f172a;
    flex-direction:column;
    align-items:center;
    display:none;
    padding:20px 0;
  }

  .nav-links.active{
    display:flex;
  }

}
